<!DOCTYPE HTML>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/sea-modules/jquery/treetable/3.0.1/css/jquery.treetable.theme.default.css" />
    <link rel="stylesheet" href="/assets/sea-modules/gallery/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href='/assets/css/all.css'/>

</head>
<body>
<div class="container-fluid">
    <div class="masthead row-fluid">
        <div class="span2">
            <a class="brand" href="/">Sofa Insight</a>
        </div>
        <div class="span2">
            <span class="toggle-menu" id="J_toggle_menu"><i class="icon-reorder"></i></span>
        </div>
        <div class="span8">
            <form class="form-search" action="/search">
                <div class="input-append">
                    <input type="text" class="search-query" placeholder="Input keywords">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
